
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Heading-Banner */
.navbar{
    background-image: url(../Assets/Hero-bg.png);
    width: auto;
    height: 698px;
}
.navbarfirst{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.title-heading{
    text-align: center;
    margin: 100px;
    justify-content: center;
    align-items: center;

}
.name{
    font-size: 40px ;
    font: bold;
    color: blue;
    margin: 50px 150px;

}
.first-btn{
    margin: 50px 150px;
}
.title{
    font-size: 65px;
    color: #252432;
    /* width: 905px; */
    /* height: 151px; */
}
/* Shared Styles */
.btn{
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 12px 20px;
}
/* First-section */
.first-section{
    width: 1140px;
    height: 328px;
    justify-content: center;
    align-items: center;
    margin: 116px auto;
    /* background-color: aliceblue; */

}

.action-title{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.titleheading{
    margin: 116px;
}

.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;

}
.main-title{
    font-size: 42;
    font-weight: 800;
}
.discription-title{
    font-size: 22;
    width: 300px;
}
/* Second Section */
.second-section{
    background-color: #dddcf9ca;
    width:1140px;
    height: 306px;
    text-align: center;
    margin: 116px auto;
    border-radius: 24px;
}
.second-section-title{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-around;

}
.second-section-heading{
    font-size: 2em;
    font-weight: bold;
    padding-top: 50px;
}
.user-info{
    font-size: 80px;
    font-weight: bold;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Third Section */
.third-section{
    /* background-color: #dddcf9ca; */
    width: 1140px;
    height: 632px;
    margin:116px auto;
}
.third-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.third-section-title {
    font-size: 50px;
}
.form{
    margin-right: 0;
    margin-top: 19px;
}
.form-info{
    margin-top: 70px;
    font-size: 18px;


}
form label{
    display: block;
}
.form-info input{
    width: 400px;
    height: 70px;
    border-radius: 3px;
    font-size: 18px;
}
::placeholder{
    padding: 12px 30px;
    font-size: 1.2em;
}
textarea{
    font-size: 18px;
}
/* Footer Section */
.footer-section{
    background-color: #FFFFFF;
    width: auto;
    height: 428px;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center{
    text-align: center;

}
.footer-container .h1{
    font-size: 80px;
    font-weight: bold;
    color: blue;

}
.footer-container p{
    color: #8987A1;

}
.foter-link a{
    margin-right: 20px;
    text-decoration: none;
    color: #8987A1;
    
}
/* Challange Section */
/* Button */
.button {
  /* padding: 15px 25px; */
  /* font-size: 24px; */
  /* text-align: center; */
  cursor: pointer;
  outline: none;
  color: #fff;
  /* background-color: #04AA6D; */
  border: none;
  /* border-radius: 15px; */
  /* box-shadow: 0 9px #999; */
}

/* .button:hover {background-color: #3e8e41} */

.button:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* Users Feedback Section */
.challenge-section{
    width: 1140px;
    height: 342px;
    margin:116px auto;

}
.challenge-section h2{
    text-align: center;
    font-size: 40px;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.card{
    /* background-color: bisque; */
    width: 366px;
    height: 243px;
    padding: 24px;
    border-radius: 14px;
    background-color: #FFFFFF;
    
}
.user-pic{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.user-pic img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}
.user-pic p{
    font-size: small;
}
.main-bg{
    background-color:aliceblue;
}